
*:focus, button, button:focus {
	outline: none;
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/lato-normal-400.woff2') format('woff2');
}

@font-face {
	font-family: 'Karnak';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/karnak-normal-700.woff2') format('woff2');
}

@font-face {
	font-family: 'Franklin';
	font-weight: 300;
	font-style: normal;
	src: url('../fonts/franklin-normal-300.woff2') format('woff2');
}

html, body {
	font-family: 'Lato';
	width: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

nav {
	padding-top: 5px !important;
	padding-bottom: 10px !important;
	font-family: 'Karnak';
	margin: 30px 200px;
	border-bottom: 1px solid #bfbfbf;
}

.logo { font-family: 'Karnak'; }

h2 { font-size: 42px; }

.alr {
	display: inline-block;
	margin-left: 10px;
	font-family: 'Franklin';
	font-size: 28px;
}

.alrs {
	display: inline-block;
	margin-left: 8px;
	padding-bottom: 3px;
	font-family: 'Franklin';
	font-size: 22px;
}

#container {
	width: 100%;
	height: 100%;
	margin-top: 20px;
}

#pad-container { margin-top: 20px; }

#pad {
	border: none;
	border-collapse: collapse;
	border-spacing: 0;
}

.pad {
	height: 70px;
	width: 70px;
	margin: 0 14px 14px 0;
	background-color: #e6e6e6;
	color: #000;
	border: 1px solid #959595;
	border-radius: 3px;
	cursor: pointer;
	font-family: 'Lato';
	font-weight: bold;
	font-size: 34px;
	user-select: none;
}

.pad:active, .btn-pad:active {
	background-color: #fff;
	opacity: 0.5;
}

.x-pad, .e-pad, .s-pad,
.r-pad, .l-pad, .d-pad,
.c-pad, .g-pad {
	width: 244px;
	margin: 0 14px 14px 0;
}

.btn-pad {
	height: 70px;
	background-color: #e6e6e6;
	color: #000;
	border: 1px solid #959595;
	border-radius: 3px;
	cursor: pointer;
	font-family: 'Lato';
	font-weight: bold;
	font-size: 18px;
	height: 48px;
	user-select: none;
	padding: 0 20px;
}

.btn-pad:disabled {
	opacity: 0.7;
}

.x-pad {
	background-repeat: no-repeat;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTExLjc4IDguNzA0TDE3LjkzNiAyLjYyTDE1LjQxNiAwLjEzNTk5OEw5LjI2IDYuMjU2TDMuMTA0IDAuMTM1OTk4TDAuNTg0IDIuNjJMNi43NCA4LjcwNEwwLjU4NCAxNC44OTZMMy4xMDQgMTcuNDE2TDkuMjYgMTEuMjk2TDE1LjQxNiAxNy40MTZMMTcuOTM2IDE0Ljg5NkwxMS43OCA4LjcwNFoiIGZpbGw9ImJsYWNrIi8+Cjwvc3ZnPgo=);
	background-position: center;
}

#board {
	cursor: default;
	user-select: none;
	border-collapse: collapse;
	text-align: center;
	float: right;
	border-spacing: 0;
	border: 5px solid #000;
	margin-right: 40px;
}

#board td { padding: 0; }

.square {
	box-sizing: content-box;
	border-collapse: collapse;
	margin: 0;
	border: 2px solid #959595;
}

.square[sx="0"] { border-left: 0; }
.square[sy="0"] { border-top: 0; }
.square[sx="2"] { border-right: 0; }
.square[sy="2"] { border-bottom: 0; }

.active { background: #FFDA00 !important; }

.hidden { display: none; }

.square td {
	box-sizing: content-box;
	border: 1px solid #959595;
	font-size: 50px;
	height: 80px;
	width: 80px;
	color: #000;
	overflow: hidden;
	font-weight: bold;
	position: relative;
}

.clue {
	color: #000;
	background-color: #e6e6e6;
}

.clue.active { background-color: #e6c500 !important; }

.annotation {
	height: 80px;
	width: 80px;
	margin: 0;
	padding: 0;
	border: 0;
	border-collapse: separate;
	border-spacing: 1px;
	background: transparent;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
}

.annotation td {
	background: transparent;
	height: 24px;
	font-size: 16px;
	text-align: center;
	color: #5f5f5f;
	opacity: 0;
	border: 0;
	font-family: 'Franklin';
	font-weight: 300;
	opacity: 0;
	transition: opacity 400ms ease;
}

.active > .annotation td:hover, .noted {
	opacity: 1 !important;
}

.noted { color: #000 !important; }

.closed { display: none; }

.digit {
	display: inline-block;
	width: 80px;
	z-index: 1;
	height: 80px;
	top: 0;
	left: 0;
	position: absolute;
	line-height: 78px;
	padding-left: 2px;
	text-align: center;
}

.clue-text {
	height: 80px;
	width: 80px;
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	line-height: 78px;
	padding-left: 2px;
	text-align: center;
}

.modal-content {
	border: 2px solid #525252 !important;
	border-radius: 0 !important;
}

.modal-header {
	padding: 20px 30px !important;
	border-bottom: 1px solid #bfbfbf !important;
}

.modal-body {
	padding: 40px 30px !important;
	text-align: center !important;
	font-size: 20px !important;
}

.modal-footer {
	padding: 18px 30px 24px 30px !important;
	border-top: 1px solid #bfbfbf !important;
}
